doctype html
html(ng-app="myApp")
  head
    title Cat
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/flat-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js')
  body
    block content
    script(src="//code.jquery.com/jquery-1.10.2.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js')

    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/directives.js')
    script(src='/javascripts/filters.js')
    script(src='/javascripts/services.js')