<div class='page-header'>
	<h2>About</h2>
</div>
<p>
Hi I am Alex Chen and I'm a fourth year student in University of California, majoring in computer science. In the wide field of computer science, I’m especially interested in web development with a little bit of web design even though I have little artistic sense, and also some mobile app development through PhoneGap which is basically packaging a website into a native mobile app for smartphones running systems like Android, iOS, or Windows. Basically, I’m all about websites. Well, the development part of it at least; I would like to leave the design part to more capable hands as I wouldn’t want anyone ,to witness the horror of my design. 
</p>
<p>
But I try to make up for the unsightliness of my design with a focus on usability―make the website as easy to use as possible. Because at the end of the day, a website that is usable is more important than one that is pretty, right? I sure hope so.
</p>
<p>
That is the focus of this website. My goal is to provide you with hints and tips on how to make a website usable, regardless of its type.
</p>
<p>
So far I have utilized these guidelines to build several projects for nonprofit organizations with great success. Users seem to know what they’re doing and are actually getting things done! Most of the time anyway, as nothing is ever perfect.
</p>
<p>
The projects I have been involved with include a website functioning as an attendance tracking system for students and volunteers for a mentoring organization, a mobile app that allows volunteers to track how the beaches in San Diego are being used and another website for the same organization in San Diego to track illegal poaching incidents to facilitate the prosecutions of the offenders.
</p>