<div class='page-header'>
  <h2>Keep It Simple</h2>
</div>
<p>
The first and most important principle when designing websites is to keep it simple. In other words, users should never have to think in order to use the website; the website should be obvious and self-explanatory to allow the user to “get” it without having to think about it. That means the average mom, who has only the faintest idea of what a browser is other than as a desktop icon that magically shows her Facebook page when she clicks on it, could look at the homepage of the website and understand immediately what the website is about and how to use or navigate it.
</p>

<div class="text-center">
  <img src="images/getting_it.jpg">
</div>
<div class="text-center">
  <small>Image Credit: Don't Make Me Think, Revisited</small>
</div>

<p>
A clear indication of when a user is not “getting” it is when you can almost imagine a question mark popping in their thought bubble. You aren’t keeping it simple enough if any part of the website leaves the user confused for any reason.
</p>

<div class="text-center">
  <img src="images/not_getting_it.jpg">
</div>
<div class="text-center">
  <small>Image Credit: Don't Make Me Think, Revisited</small>
</div>

<p>
So what makes us stop and think, rather than just clicking away? Here are a couple of culprits.
Names: Does this mean what I think it means? An example - what do the all of the following terms have in common - jobs, employment opportunities, and job-o-rama? They have so much in common, in fact, that they’re essentially the same thing - jobs. But guess which one requires the least thought for the user to process the meaning? If you guessed jobs, you’d be right, and on the off chance you guessed anything else, well, now you know.
</p>
<p>
To put this into practice, let’s say a company has job positions open and want to advertise that on their website. They can <put 3 navbars>. At a quick glance, which one do you suppose catches the eyes of a job hunter the quickest?
</p>
<p>
This is not to say using fancier terms in place of simpler ones are forbidden; companies may prefer the dignity offered by more sophisticated word choices, or perhaps that’s simply the way it has always been done. But whenever possible, try to skew the word choices toward simpler ones to Keep It Simple.
</p>

<nav class="navbar navbar-inverse" role="navigation" data-toggle="tooltip" data-placement="left" title="Which one would you click first as a job hunter?">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Employment Opportunities</a></li>
        <li><a href="#">Job-o-Rama</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br>

<p>
Clickability: How clickable does something look? And if you click it, does something happen? Those are questions you don’t want user to ask themselves, because that means they are thinking(!) and the time spent thinking is time not spent actually the using the website. As a general rule, make the elements that are meant to be clicked to appear as clickable as possible, and elements that aren’t meant to be clicked should never give the impression of being clickable. 
To raise the clickability score of an element on a web page, the most straightforward way is to make it a button with subtle gradients and shadows below to give it a slight 3D look. Yes, this includes eschewing links in favor of buttons when you have a choice between the two in cases outside of in-text links, as buttons scream “CLICK ME!” much louder than links do.
</p>
<div class="row" data-toggle="tooltip" data-placement="left" title="Which one did you click first?">
<div class="col-sm-4"><a class="btn btn-primary">Click Me!</a></div>
<div class="col-sm-4"><a ng-href="#" ng-click="void()">Click Me!</a></div>
<div class="col-sm-4">Click Me!</div>
</div>
There are many more questions users may ask themselves, such as:
<ul>
<li>Where am I?</li>
<li>Where should I begin?</li>
<li>Where did they put _____?</li>
<li>What are the most important things on this page?</li>
<li>Why did they call it that?</li>
<li>Is that an ad or part of the site?</li>
</ul>
<p>
Knowing that, your job as a designer is then to make sure those questions, and anything else that ends in a question mark, never enter the user’s mental chatter. While on their own every question is but a minor, almost trivial, one, they all contribute to the user’s cognitive workload and distract the user from doing whatever they came to the website to do.
Users like puzzles where they expect them to be, such as the crossword puzzles on newspapers or the latest stage in the hit mobile game Candy Crush Saga. Unless your website is intended to be one big puzzle, don’t make the user puzzle over how to do things. Not only is the user losing productivity, but also losing confidence in the website and whoever that is behind it as apparently those who built the site didn’t care enough to make things simple and easy for the user. You don’t want that happening right?
</p>
<p>
Puzzling over trivial things sap our energy, enthusiasm, and most importantly, time. Simple web design makes the browsing experience effortless.
</p>