<div class='page-header'>
	<h2>Layout</h2>
</div>
<p>
	There’s no getting around the fact that users are going to view your website like a billboard. All we can do is take advantage of that, and design websites like billboards. But how do we design billboards, you may ask, we didn’t sign up for this!
</p>
<p>
	Don’t worry, we’re not actually going to build billboards, or anything like them. However, we can take some cues from it to let the users know what they need to know in as short amount of time as possible.
</p>
<p>
	One way to achieve is by following conventions whenever possible. Conventions have many manifestations, the most prominent of which is the navigation structure. Users expect there to be a bar for general navigation throughout the website across the top of the page, possibly accompanied by a secondary vertical bar to the left for more fine-grained controls such as filtering on a product listing page. Or the sidebar can be the main way to navigate the website as well. But either way, one of them needs to be there else you risk users having to think(!) and quite probably ending up confused.
</p>

<div class="row">
	<div class='col-sm-1'>
		<div class="btn-group-vertical">
			<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Shopping!">
			<i class="fa fa-shopping-cart"></i></button>
			<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Like!">
			<i class="fa fa-thumbs-up"></i></button>
			<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Play!">
			<i class="fa fa-play"></i></button>
			<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Pause!">
			<i class="fa fa-pause"></i></button>
		</div>
	</div>
	<div class='col-sm-11'>
		<p>
			Another important convention to follow is also in the appearance. The color, shape, and the general design of an icon or a button should make its function painfully obvious. It can be the ubiquitous shopping cart icon found on shopping websites, the possibly even more ubiquitous thumbs up icon for liking something on Facebook, or the rightward-facing arrow and the double vertical icons for playing and pausing a video found on websites like Youtube.
		</p>
	</div>
</div>
<br>


<p>
	If you are planning to incorporate these elements into your website, not using these established icons is only going to add to the user’s confusion. <examples>
	Conventions exist for a reason, usually because they work well for their purposes, but other times they’re simply the way things have always been done. Regardless, following them is key in Keeping It Simple.
</p>
<p>
	Creating visual hierarchies is another way to keep the users clicking instead of thinking. In other words, the appearance of the elements on a page should reflect their relationships with one another. For example, important elements should be more visible in some way through the use of larger size, borders or margins around them, or a different color than the rest of the elements, and elements that belong together should look like they belong together such as under a common heading or grouped together in a section.
</p>
<div class="text-center">
	<h6>New York Times split into visual hierarchies and areas.</h6>
</div>
<div class="text-center">
  <img src="images/nyt_groups.jpg">
</div>
<div class="text-center">
	<small>Image Credit: www.nytimes.com</small>
</div>
<p>
	Related to visual hierarchies is breaking up pages into clearly defined areas,  to allow the users to know which area to focus on and safely ignore the other parts. When the user navigates to a new page, for instance, he doesn’t need to look at the top or side bars for navigation since he just arrived at the page nor does he need to look at the banners of ads off to the side or bottom that no one is interested in. He needs to know where the main content is to focus on, and effectively breaking pages up facilitates the process.
</p>
<p>
	As with most things in life, organization is also important. Organization in a website mainly comes down to the alignment of the elements and the amount of clutter on the screen at any one time. If you can’t press a ruler to the screen and see elements line up nicely in a grid like pattern, the page is not organized. And just like your room, having too much clutter on a web page makes trying to find the thing you’re looking for harder.
</p>
<p>
	Keep It Simple, and users will thank you for it.
</p>