<div class='page-header'>
	<h2>Links</h2>
</div>
<dl>
	<dt>W3Schools <a href="http://www.w3schools.com/">http://www.w3schools.com/</a></dt>
	<dd>W3Schools is a very popular website for learning the basics of web technology like HTML, CSS, and JavaScript.
	It's a great resourse because for someone wanting to get into web development or web design,
	this is <i>the</i> place to start learning the basics before going on to more advanced topics.
	And even for seasoned developers, it's good for use as a reference since the sheer number of HTML tags, CSS properties, and the nuances associated with each individual one make them hard to remember.</dd>
	<br>

	<dt>SitePoint <a href="http://reference.sitepoint.com/css">http://reference.sitepoint.com/css</a></dt>
	<dd>An less popular alternative to W3Schools with documentation on HTML, CSS, and JavaScript. It differs from W3Schools in that SitePoint points out feature support across browsers so the website doesn't break when you view it with another browser. It also mentions bugs and quirks specific to each browser for even more browser compatibility.</dd>
	<br>

	<dt>Mozilla's Developer Network (MDN) <a href="https://developer.mozilla.org/en-US/docs/Web">https://developer.mozilla.org/en-US/docs/Web</a></dt>
	<dd>Another similar resource aimed more towards web developers rather than designers with its extensive coverage of JavaScript guides, tutorials, and documentation, although it has a good coverage of HTML and CSS as well. While the previous two websites cover the basics of web technologies, MDN covers the intermediate to advanced topics of JavaScript and CSS that those who has already grasped the basics can learn. After all, we can't talk usability without getting the website working first.</dd>
	<br>

	<dt>Stack Overflow <a href="http://stackoverflow.com/">http://stackoverflow.com/</a></dt>
	<dd>Stack Overflow is a platform for questions and answers related to programming. Without a doubt every programmer has met a problem they don't know how to solve themselves, and this is the place to go for answers because chances are the same problem has already been encountered and solved before. In addition to programming, it has lots of questions and answers related to web design as well since the two are closely related.</dd>
	<br>

	<dt>Smashing Magazine <a href="http://www.smashingmagazine.com/">http://www.smashingmagazine.com/</a></dt>
	<dd>Unlike the previous resources that were oriented more towards programming, Smashing Magazine is for both web designers with articles on visual and user interaction aspects of web design. The guidelines listed on my website is far from comprehensive, and Smashing Magazine fills in some of the holes like designing for mobile and the intricacies of typography. It also extends on topics mentioned here, mainly the usability and the user experience sections.</dd>
	<br>

	<dt>Pixel Perfect Precision Handbook <a href="http://ustwo.com/ppp/">http://ustwo.comt/ppp/</a></dt>
	<dd>The handbook covers digital design that extends beyond websites to apps and so on. The handbook tackles the usability issue from another angle, more from a design standpoint rather than user experience. The second half has much more detailed instructions on how to realize individual components of the UI, like layering buttons and text in Photoshop.</dd>
	<br>

	<dt>Learn Web Design Guide <a href="http://www.skilledup.com/learn-web-design-guide/">http://www.skilledup.com/learn-web-design-guide/</a></dt>
	<dd>The guide is a curated collection of resources for learning web design, including tutorials, guides, online courses, references, and more. Only so much information can be contained in a single guide, or in a particular format. The collection enables extensive learning of web design with a wide variety of resources each covering different aspects of the topic, all nicely curated in one page.</dd>
	<br>
</dl>