<div class='page-header'>
	<h2>Misconception</h2>
</div>
<p>
If you didn’t figure it out yet, here’s a newsflash for you: people probably don’t use websites the way you think they are. Even if that didn’t surprise you, it surprised me at least when I first read about it. In my mind, I’ve always thought my imaginary user would carefully look over every element on the web page that I meticulously crafted—the text, the images, the buttons, etc.—think about what he is looking for, then weigh all his options of what to click before actually clicking anything.
</p>
<p>
Well, that’s not even close to the way people browse websites. At most, people give the page a quick glance, maybe scan some of the text, and click on the first thing that catches their fancy which may or may not be the thing they’re looking for. Herein lies the mismatch; we’re thinking books when really it’s closer to billboards. 
Billboards that you pass by on the highway going 80 miles per hour.
</p>

<div class="text-center">
<iframe src="//embed.gettyimages.com/embed/170113278?et=veQ2B6W-CUqw0TePUeYLbQ&sig=hsQZBwNMfZHxvi4Yfws_PsM7x0YB5yxVBh1zzdDFDZY=" width="481" height="426" frameborder="0" scrolling="no"></iframe>
</div>

<p>
This is only generally true, as it also depends on the type of website, what the user is trying to do on it, and how much of a hurry the user is in. Nevertheless, this is much closer to reality than what my imaginary user would do. Not everyone is like us with the bad habit of overanalyzing every web page we encounter.
</p>
<p>
So in order to design effective web pages, we have to design around the habits of a real person. And there are several ways they differ from those of my imaginary user.
</p>
<p>
First of all, as I’ve already stated, users scan web pages unless they absolutely have to read such as the cases of news or journal articles where the main content is text. Even then, rarely is the case that everything is read. More often than not, the user alternates between scanning and reading since the user is usually looking for specific information and scanning alone will most likely give them the relevant bits they’re interested in then they can read on in detail. Besides, no one has the time to read everything. When we’re not endlessly flipping through Facebook stories, we’re on a mission. We want to get something done, fast. Scanning pages is something we’re inherently good at which affords exactly that.
</p>
<p>
Let the important information on a web page be easy to scan for.
</p>

<div class='text-center'>
<iframe src="//embed.gettyimages.com/embed/167768217?et=xxxx7Eq_xk6vYWz_CPZpig&sig=-VwML8bT54TB1V0XHZh2ffjZ0YubLJNcbNJhWYd_zA0=" width="507" height="407" frameborder="0" scrolling="no"></iframe>
</div>
<div class="row">
	<div class='col-sm-3'>
		<div class='text-center'>
			<iframe src="//embed.gettyimages.com/embed/168279795?et=rQOYBlwVAE-nS1AFa09GCA&sig=YnmmxdXFdd2xCW4lGSw5_CQb0gkvvKFyZujUxjTkNv0=" width="400" height="369" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
	<div class='col-sm-9'>
		<p>
			Secondly, when making a choice, users don’t do the logical thing of scanning the page, gathering the relevant information and the available choices, then choosing the best one after deliberating on all the choices. Instead, they pick the first reasonable choice they come across; i.e., hmm...that link kind of looks likes it’ll lead to where I want to go...CLICK!
			Several factors come before logic in this case. In the Internet Age, we’re always in a hurry, churning through task after task. And as we all know, logic doesn’t always accompany us when we’re in a hurry. In addition, since the stakes are so low—a click or two of the back button—there isn’t much motivation to spend precious time thinking about what to click when there’s so little to lose.
		</p>
		<p>
			Make it easy for the users by lowering the error rate of the choices as much as possible.
		</p>
	</div>
</div>


<p>
Finally, I’m guilty of this as well, users don’t figure out how or why things work before using them. I don’t remember the last time I checked the manual before using the new gadget I just got. The process usually goes like this. I think this is the power button..(press)...it’s lighting up, so I must’ve done something right! And I think pressing this button will make it do what I think it’ll do…(press)...no? Fine, I’ll press this button over here then, and voila! Before I know it, I’m well on my way of “mastering” the device; I’ve no idea whether that is the right or intended way to use the device but that’s none of my concern right? It just works.
</p>
<p>
That applies to using websites as well. I type into a box under “Google” in colorful letters and masses of results appear after I press enter. I may not know why or how that happens, but it does, and that’s the important part. Users may not know, or care, the proper, intended way to use a website. But as long as it works for them, everyone is happy.
So stick to the principle—Keep It Simple. This way users will have a greater chance of using the website the way it’s intended to be used, and find whatever they’re looking for faster since they’re not clicking through mazes of links they’re not supposed to click through in the first place.
</p>