<div class='page-header'>
	<h2>User</h2>
</div>
<p>
Your primary consideration should always be 
your users. Guide design decisions by ﬁnding 
out what they want to do, and then structure 
your product so they can carry out that task as 
quickly as possible. Always bear in mind what 
is suitable for them as well; for example, a 
completely ﬂat, cutting edge interface guided 
by grids and typography may work for a 
younger audience, but perhaps some friendlier 
skeuomorphic touches would be more 
appropriate for older users who aren’t quite so 
tech-savvy.
</p>